body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s;
    background: black;
}

body .images {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
}

body .images .image {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background-size: auto 100%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.1, 0.1, 0.1, 0.1);
}

body .images .image.active {
    flex-grow: 1000;
    transform: scale(1);
    max-width: 600px;
    margin: 0;
    border-radius: 25px;
    background-size: auto 100%;
}

body .images .image.active .label {
    background-color: #000;
    padding: 8px 15px; /* Reducir el padding vertical */
    border-radius: 50px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    }

body .images .image:not(.active) {
    font-weight: bold;
    font-size: 1rem; /* Reducir el tamaño de fuente */
    }
body .images .image:not(.active) .label {
    bottom: 10px;
    left: 10px;
}

body .images .image:not(.active) .label .info {
    display: none;
}

body .images .image .label {
    display: flex;
    position: absolute;
}

body .images .image .label .iconss {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;   
}

body .images .image .label .info {
    display: flex;
    flex-direction: column;
    margin-left: px;
    color: #eee;
}

body .images .image .label .info .main {
    font-weight: bold;
    font-size: 1.12rem;
    margin-right: 20px;
}